$off-white: #f5f5f5;
$light-gray: #ccc;
$dark-gray: #444444;

.bg-off-white {
  background-color: $off-white;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.color-off-white {
  color: $off-white;
}
