* {
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 8px;
}

.logo {
  max-width: 200px;
}
